:root {
  --header-color: #212121;
  --main-title-color: #FFFFFF;
  --accent-color: #2196F3;
  --text-color: #757575;
  --bcg-color: #2F303A;
  --padding-top: 94px;
  --padding-bottom: 94px;
  --cubic: 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

p, h1, h2, h3, h4, h5, h6 {
  margin: 0;
}

ul, ol {
  list-style: none;
  padding-left: 0;
  margin: 0;
}

img {
  display: block;
}

button {
  cursor: pointer;
}

a {
  text-decoration: none;
}

body {
  font-family: "Roboto", sans-serif;
}

.visually-hidden {
  position: absolute;
  white-space: nowrap;
  width: 1px;
  height: 1px;
  overflow: hidden;
  border: 0;
  padding: 0;
  clip: rect(0 0 0 0);
  clip-path: inset(50%);
  margin: -1px;
}

.soc-list__link, .client__link, .socials__link, .work__meta, .features__content, .connect__link, .header .container, .modal-agree span, .modal-agree, .backdrop {
  display: flex;
  align-items: center;
}

.container {
  width: 1200px;
  padding-left: 15px;
  padding-right: 15px;
  margin: 0 auto;
  /* outline: 1px solid salmon; */
}

.btn {
  font-family: inherit;
  font-weight: 700;
  font-size: 16px;
  line-height: 1.88;
  display: flex;
  align-items: center;
  text-align: center;
  letter-spacing: 0.06em;
  background-color: var(--accent-color);
  color: var(--main-title-color);
  background: var(--accent-color);
  border-radius: 4px;
  border: transparent;
  transition: color var(--cubic), background-color var(--cubic), box-shadow var(--cubic);
}
.btn:hover, .btn:focus {
  color: var(--main-title-color);
  background-color: var(--accent-color);
  box-shadow: 0px 4px 4px 0px rgba(0, 0, 0, 0.25);
}

.logo {
  font-family: "Raleway";
  font-weight: 700;
  font-size: 26px;
  line-height: 1.19;
  letter-spacing: 0.03em;
  color: var(--accent-color);
}

.logo__dark {
  color: black;
}

.logo__light {
  color: var(--main-title-color);
}

.section {
  padding: 94px 0;
}
.section__works {
  padding-top: 0;
}
.section__team {
  background: #F5F4FA;
}
.section__title {
  font-size: 36px;
  line-height: 1.16;
  text-align: center;
  letter-spacing: 0.03em;
  color: var(--header-color);
  margin-bottom: 50px;
  font-weight: 700;
}

.backdrop {
  position: fixed;
  top: 0;
  width: 100%;
  height: 100%;
  background-color: rgba(0, 0, 0, 0.2);
  justify-content: center;
  transition: opacity 250ms, visibility 250ms;
}

.backdrop.is-hidden .modal {
  transform: scale(0.5) rotate(360deg);
}

.modal {
  position: absolute;
  padding: 40px;
  width: 528px;
  height: 581px;
  background-color: var(--main-title-color);
  box-shadow: 0px 1px 3px rgba(0, 0, 0, 0.12), 0px 1px 1px rgba(0, 0, 0, 0.14), 0px 2px 1px rgba(0, 0, 0, 0.2);
  border-radius: 4px;
  transform: scale(1) rotate(0deg);
  transition: transform 250ms;
}

.modal-close-btn {
  position: absolute;
  width: 30px;
  height: 30px;
  background-color: transparent;
  top: 8px;
  right: 8px;
  border: 1px solid rgba(0, 0, 0, 0.1);
  border-radius: 50%;
  cursor: pointer;
}

.is-hidden {
  opacity: 0;
  pointer-events: none;
  visibility: hidden;
}

.modal-title {
  font-weight: 700;
  font-size: 20px;
  line-height: 23px;
  text-align: center;
  letter-spacing: 0.03em;
  color: #212121;
  margin-bottom: 12px;
}

.form-field {
  margin-bottom: 10px;
}

.modal-field {
  margin-bottom: 20px;
}

.modal-name {
  display: block;
  margin-bottom: 4px;
  font-weight: 400;
  font-size: 12px;
  line-height: 14px;
  letter-spacing: 0.01em;
  color: #757575;
}

.modal-input-wrap {
  position: relative;
}

.input-icon {
  position: absolute;
  left: 12px;
  top: 50%;
  transform: translateY(-50%);
  transition: fill var(--cubic);
}

.modal-input {
  width: 100%;
  height: 40px;
  border: 1px solid rgba(33, 33, 33, 0.2);
  box-sizing: border-box;
  border-radius: 4px;
  padding-left: 40px;
  outline: none;
  transition: border-color var(--cubic);
}

.modal-input:focus {
  border-color: var(--accent-color);
}

.modal-input:focus + .input-icon {
  fill: var(--accent-color);
}

.input-text {
  display: block;
  width: 100%;
  height: 120px;
  border: 1px solid rgba(33, 33, 33, 0.2);
  box-sizing: border-box;
  border-radius: 4px;
  padding: 12px 16px;
  font-family: "Roboto";
  font-style: normal;
  font-weight: 400;
  font-size: 16px;
  line-height: 0.85;
  resize: none;
  outline: none;
  transition: border-color var(--accent-color);
}

.input-text:focus {
  border-color: var(--accent-color);
}

.input-text::placeholder {
  font-weight: 400;
  font-size: 12px;
  line-height: 14px;
  letter-spacing: 0.01em;
  color: rgba(117, 117, 117, 0.5);
}

.modal-window {
  width: 16px;
  height: 15px;
  border-radius: #212121;
}

.modal-agree {
  justify-content: center;
  font-size: 14px;
  line-height: 1.71;
  letter-spacing: 0.03em;
  color: #757575;
}

.check-icon {
  fill: transparent;
}

.modal-agree span {
  width: 16px;
  height: 15px;
  border: 2px solid #212121;
  border-radius: 2px;
  margin-right: 5px;
  justify-content: center;
}

.modal-window:checked + .modal-agree span {
  background-color: var(--accent-color);
  border: none;
  transition: background-color var(--cubic);
}

.modal-window:checked + .modal-agree .check-icon {
  fill: var(--main-title-color);
  transition: fill var(--cubic);
}

.modal-window:focus + .modal-agree span {
  border-color: var(--accent-color);
}

.text-link {
  color: var(--accent-color);
}

.modal-btn {
  display: block;
  min-width: 200px;
  height: 50px;
  margin: 30px auto 0;
}

.header {
  padding-bottom: 24px;
  padding-top: 25px;
  border: 1px solid #ECECEC;
}
.header__connect {
  display: flex;
  margin-left: auto;
}
.header__logo {
  margin-right: 93px;
}

.menu-list {
  display: flex;
}
.menu-list__item:not(:last-child) {
  margin-right: 50px;
}
.menu-list__link:hover, .menu-list__link:focus {
  color: var(--accent-color);
}
.menu-list .menu-list__link--active:after {
  content: "";
  position: absolute;
  bottom: -34px;
  left: 0;
  width: 100%;
  height: 4px;
  background-color: var(--accent-color);
  border-radius: 2px;
}

.menu-list__link {
  position: relative;
  font-weight: 500;
  font-size: 14px;
  line-height: 1.14;
  letter-spacing: 0.02em;
  color: var(--header-color);
  transition: color var(--cubic);
}

.menu-list__link--active {
  color: var(--accent-color);
}
.menu-list .menu-list__link--active {
  display: block;
  color: var(--accent-color);
}

.navigation .connect {
  display: 0;
  color: var(--accent-color);
}

.connect__item:not(:last-child) {
  margin-right: 50px;
}

.connect__link {
  font-weight: 500;
  font-size: 14px;
  line-height: 1.14;
  letter-spacing: 0.02em;
  color: var(--header-link-color);
  transition: color var(--cubic);
}
.connect__link:hover, .connect__link:focus {
  color: var(--accent-color);
}

.connect__icon {
  padding: 0;
  margin-left: 0;
  margin-right: 10px;
  fill: currentColor;
}
.connect .connect__icon:hover {
  color: var(--accent-color);
  fill: currentColor;
}

.hero {
  background-color: var(--bcg-color);
  padding-top: 200px;
  padding-bottom: 200px;
  background-image: linear-gradient(rgba(47, 48, 58, 0.4), rgba(47, 48, 58, 0.4)), url(../images/overlay.jpg);
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center;
  max-width: 1600px;
  height: 600px;
  margin: 0 auto;
}
.hero__title {
  font-weight: 900;
  font-size: 44px;
  line-height: 1.36;
  text-align: center;
  letter-spacing: 0.06em;
  text-transform: uppercase;
  color: var(--main-title-color);
  margin-bottom: 30px;
  max-width: 696px;
  margin-left: auto;
  margin-right: auto;
}
.hero__btn {
  margin: 0 auto;
  display: block;
  min-width: 200px;
  height: 50px;
  filter: drop-shadow(0px 4px 4px rgba(0, 0, 0, 0.25));
}

.features {
  display: flex;
  margin-left: auto;
}

.features__item:not(:last-child) {
  margin-right: 30px;
}

.features__content {
  margin-bottom: 30px;
  height: 120px;
  justify-content: center;
  background: #F5F4FA;
  border-radius: 4px;
}

.features__title {
  font-weight: 700;
  font-size: 14px;
  line-height: 1.14;
  letter-spacing: 0.03em;
  text-transform: uppercase;
  color: var(--header-color);
  margin-bottom: 10px;
}

.features__text {
  font-size: 14px;
  line-height: 1.71;
  letter-spacing: 0.03em;
  color: var(--text-color);
  max-width: 270px;
}

.work {
  display: flex;
}
.work__item {
  height: auto;
  position: relative;
}
.work__item:not(:first-child) {
  margin-left: 30px;
}
.work__meta {
  justify-content: center;
  font-weight: 700;
  font-size: 14px;
  line-height: 1.14;
  letter-spacing: 0.03em;
  text-transform: uppercase;
  color: #FFFFFF;
  background: rgba(47, 48, 58, 0.8);
  width: 370px;
  height: 70px;
  position: absolute;
  bottom: 0;
}

.team {
  display: flex;
  margin-left: -30px;
  flex-wrap: wrap;
}
.team__item {
  flex-basis: calc(25% - 30px);
  margin-left: 30px;
  background: #FFFFFF;
  box-shadow: 0px 1px 3px rgba(0, 0, 0, 0.12), 0px 1px 1px rgba(0, 0, 0, 0.14), 0px 2px 1px rgba(0, 0, 0, 0.2);
  border-radius: 0px 0px 4px 4px;
}
.team__description {
  padding: 30px 0 30px;
  text-align: center;
}
.team__title {
  font-weight: 500;
  font-size: 16px;
  line-height: 1.18;
  letter-spacing: 0.03em;
  color: var(--header-color);
  margin-bottom: 10px;
}
.team__text {
  font-size: 16px;
  line-height: 1.18;
  letter-spacing: 0.03em;
  color: var(--text-color);
  margin-bottom: 16px;
}

.socials {
  display: flex;
  justify-content: center;
}
.socials__item + .socials__item {
  margin-left: 10px;
}
.socials__link {
  width: 44px;
  height: 44px;
  background-color: var(--main-title-color);
  border-radius: 50%;
  justify-content: center;
  fill: rgb(175, 177, 184);
  transition: fill var(--cubic), background-color var(--cubic);
}
.socials__link:hover, .socials__link:focus {
  background-color: var(--accent-color);
  fill: var(--main-title-color);
}

.client {
  display: flex;
  margin-left: -30px;
  flex-wrap: wrap;
}
.client__item {
  flex-basis: calc(16.6666666667% - 30px);
  margin-left: 30px;
}
.client__item + .client__item {
  margin-left: 30px;
}

.client__link {
  width: 170px;
  height: 92px;
  background-color: var(--main-title-color);
  justify-content: center;
  border: 1px solid rgb(175, 177, 184);
  border-radius: 4px;
  transition: border var(--cubic);
}
.client__link:hover, .client__link:focus {
  border-color: var(--accent-color);
}

.client__icon {
  fill: #afb1b8;
  transition: fill var(--cubic);
}
.client__link:hover .client__icon, .client__link:focus .client__icon {
  fill: var(--accent-color);
}

.footer {
  background: var(--bcg-color);
  padding-top: 60px;
  padding-bottom: 60px;
}
.footer .contacts {
  display: flex;
  align-items: baseline;
}

.column-address {
  text-align: cover;
  flex-grow: 1;
}

.address-contact {
  font-family: "Roboto";
  font-size: 14px;
  line-height: 1.71;
  letter-spacing: 0.03em;
  font-style: normal;
  margin-top: 20px;
}

.address {
  text-align: 120px;
}
.address__item:not(:first-child) {
  margin-top: 9px;
}
.address__address-link {
  color: var(--main-title-color);
  transition: color var(--cubic);
}
.address__address-link:hover, .address__address-link:focus {
  color: var(--accent-color);
}
.address__link {
  font-family: "Roboto";
  font-size: 14px;
  line-height: 1.71;
  letter-spacing: 0.03em;
  color: rgba(255, 255, 255, 0.6);
  transition: color var(--cubic);
}
.address__link:hover, .address__link:focus {
  color: var(--accent-color);
}

.column-soc {
  margin-left: 55px;
  margin-right: 93px;
}
.column-soc__title {
  font-size: 14px;
  line-height: 1.14;
  letter-spacing: 0.03em;
  text-transform: uppercase;
  color: var(--main-title-color);
  margin-bottom: 20px;
}

.soc-list {
  display: flex;
}
.soc-list__item + .soc-list__item {
  margin-left: 10px;
}
.soc-list__item:last-child {
  margin-right: 0px;
}

.soc-list__link {
  padding: 0;
  width: 44px;
  height: 44px;
  background-color: rgba(255, 255, 255, 0.1);
  border-radius: 50%;
  justify-content: center;
  fill: var(--main-title-color);
  transform: fill var(--cubic), background-color var(--cubic);
}
.soc-list__link:hover, .soc-list__link:focus {
  background-color: var(--accent-color);
  fill: var(--main-title-color);
}

.inputs {
  display: flex;
  justify-content: space-between;
}

.field {
  margin-right: 12px;
}
.field__input {
  width: 358px;
  height: 50px;
  box-sizing: border-box;
  border: 1px solid rgba(255, 255, 255, 0.3);
  filter: drop-shadow(0px 4px 4px rgba(0, 0, 0, 0.15));
  border-radius: 4px;
  padding-left: 16px;
  color: var(--main-title-color);
  background-color: transparent;
  font-family: "Roboto";
  font-size: 16px;
  outline: none;
  transition: border-color var(--main-title-color) border-color var(--cubic);
}
.field__input:focus {
  border-color: var(--main-title-colorr);
}
.field__label {
  font-family: "Roboto";
  font-size: 16px;
  line-height: 1.25;
  color: var(--main-title-color);
  transform: border-color var(--cubic);
}

.submit__btn {
  display: inline-flex;
  align-items: center;
  min-width: 200px;
  height: 50px;
  position: relative;
  padding-left: 29px;
  transform: color var(--cubic);
}

.submit__icon-btn {
  margin-left: 10px;
  margin-right: 0px;
  margin-top: 6px;
  cursor: pointer;
}

.portfolio-filtres {
  display: flex;
  justify-content: center;
  margin-bottom: 50px;
}

.portfolio-filtres-item:not(:first-child) {
  margin-left: 8px;
}

.portfolio-filtres-btn {
  font-family: "Roboto";
  font-weight: 500;
  font-size: 16px;
  line-height: 1.62;
  letter-spacing: 0.03em;
  max-width: 100%;
  background-color: #F5F4FA;
  color: var(--header-color);
  cursor: pointer;
  display: inline;
  padding: 6px 22px;
}

.portfolio-list {
  display: flex;
  flex-wrap: wrap;
  gap: 30px;
}

.portfolio-item {
  flex-basis: calc((100% - 60px) / 3);
}

.portfolio-content {
  display: block;
  transition: box-shadow var(--cubic);
}
.portfolio-content:hover, .portfolio-content:focus {
  box-shadow: 0px 4px 4px 0px rgba(0, 0, 0, 0.25);
}

.portfolio-meta {
  position: relative;
  overflow: hidden;
}

.portfolio-actions {
  position: absolute;
  padding: 63px 24px;
  font-family: "Roboto";
  font-size: 18px;
  line-height: 1.56;
  color: #FFFFFF;
  background: rgba(33, 150, 243, 0.9);
  width: 370px;
  height: 100%;
  transform: translateY(100%);
  transition: var(--cubic);
  bottom: 0;
  overflow: auto;
}
.portfolio-content:hover .portfolio-actions, .portfolio-content:focus .portfolio-actions {
  cursor: pointer;
  transform: translateY(0%);
  transition: var(--cubic);
}

.portfolio-description {
  padding: 20px 24px;
  border: 1px solid rgb(238, 238, 238);
}

.portfolio-title {
  font-weight: 700;
  font-size: 18px;
  line-height: 2;
  letter-spacing: 0.06em;
  color: var(--header-color);
  margin-bottom: 4px;
}

.portfolio-text {
  font-size: 16px;
  line-height: 1.88;
  letter-spacing: 0.03em;
  color: var(--text-color);
}/*# sourceMappingURL=main.css.map */