.client {
    display: flex;
    margin-left: -30px;
    flex-wrap: wrap;
    &__item {
        flex-basis: calc(100% / 6 - 30px);
        margin-left: 30px;
        & + & {
            margin-left: 30px;
        }
    }  
}

.client__link {
    width: 170px;
    height: 92px;
    background-color: var(--main-title-color);
    @extend %align-list;
    justify-content: center;
    border: 1px solid rgba(175, 177, 184, 1);
    border-radius: 4px;
    transition: border var(--cubic);
    &:hover, &:focus {
        border-color: var(--accent-color);
    }
}

.client__icon {
    fill: #afb1b8;
    transition: fill var(--cubic);
    .client__link:hover &, .client__link:focus & {
        fill: var(--accent-color);
    }
}