.features {
    
    @media screen and (min-width: 768px) {
        display: flex;
        flex-wrap: wrap;
        margin: -15px;
    }
}

.features__item {

    &:not(:last-child) {

        @media screen and (max-width: 767px) {
        margin-bottom: 30px;
        }
    }
    
    @media screen and (min-width: 768px) {
        margin: 15px;
        flex-basis: calc((100% - 60px) / 2);
    }

    @media screen and (min-width: 1200px) {
        flex-basis: calc((100% - 120px) / 4);
    }
}

.features__content{
    margin-bottom: 30px;
    height: 120px;
    @extend %align-list;
    justify-content: center;
    background: #F5F4FA;
    border-radius: 4px;
}

.features__title {
    @include font (700, 14px, 1.14, 0.03em);
    // font-weight: 700;
    // font-size: 14px;
    // line-height: 1.14;
    // letter-spacing: 0.03em;
    text-transform: uppercase;
    color: var(--header-color);
    margin-bottom: 10px;

    @media screen and (max-width: 767px) {
        text-align: center;
    }
}

.features__text {
    @include font (null, 14px, 1.71, 0.03em);
    // font-size: 14px;
    // line-height: 1.71;
    // letter-spacing: 0.03em;
    color:var(--text-color);
}