.features {
    display: flex;
    margin-left: auto;
}

.features__item:not(:last-child) {
    margin-right: 30px;
}

.features__content{
    margin-bottom: 30px;
    height: 120px;
    @extend %align-list;
    justify-content: center;
    background: #F5F4FA;
    border-radius: 4px;
}

.features__title {
    @include font (700, 14px, 1.14, 0.03em);
    // font-weight: 700;
    // font-size: 14px;
    // line-height: 1.14;
    // letter-spacing: 0.03em;
    text-transform: uppercase;
    color: var(--header-color);
    margin-bottom: 10px;
}

.features__text {
    @include font (null, 14px, 1.71, 0.03em);
    // font-size: 14px;
    // line-height: 1.71;
    // letter-spacing: 0.03em;
    color:var(--text-color);
    max-width: 270px;
}