.footer {
    background: var(--bcg-color);
    padding-top: 60px;
    padding-bottom: 60px;
    .contacts {
        display: flex;
        align-items: baseline;
    }
}

.column-address {
    text-align: cover;
    flex-grow: 1;
}

.address-contact {
    font-family: 'Roboto';
    @include font (null, 14px, 1.71, 0.03em);
    // font-size: 14px;
    // line-height: 1.71;
    // letter-spacing: 0.03em;
    font-style: normal;    
    margin-top: 20px;
}

.address {
    text-align: 120px;    
    &__item:not(:first-child) {
        margin-top: 9px;
    }
    &__address-link {
        color: var(--main-title-color);
        transition: color var(--cubic);
        &:hover, &:focus {
            color: var(--accent-color);
        }
    }
    &__link {
        font-family: 'Roboto';
        @include font (null, 14px, 1.71, 0.03em);
        // font-size: 14px;
        // line-height: 1.71;
        // letter-spacing: 0.03em;
        color: rgba(255, 255, 255, 0.6);
        transition: color var(--cubic);
        &:hover, &:focus {
            color: var(--accent-color);
        }
    }
}



.column-soc {
    margin-left: 55px;
    margin-right: 93px;
    &__title {
        @include font (null, 14px, 1.14, 0.03em);
        // font-weight: 700;
        // font-size: 14px;
        // line-height: 1.14;
        // letter-spacing: 0.03em;
        text-transform: uppercase;
        color: var(--main-title-color);
        margin-bottom: 20px;
    }
}

.soc-list {
    display: flex;
    &__item + &__item {
        margin-left: 10px;
    }
    &__item:last-child {
        margin-right: 0px;
    }    
}

.soc-list__link {
    padding: 0;
    width: 44px;
    height: 44px;
    background-color:  rgba(255, 255, 255, 0.1);
    border-radius: 50%;
    @extend %align-list;
    justify-content: center;
    fill: var(--main-title-color);
    transform: fill var(--cubic), background-color var(--cubic);
    &:hover, &:focus {
        background-color: var(--accent-color);
        fill: var(--main-title-color);
    }
}

.inputs {
    display: flex;
    justify-content: space-between;
}

.field {
    margin-right: 12px;
    &__input {
        width: 358px;
        height: 50px;
        box-sizing: border-box;
        border: 1px solid rgba(255, 255, 255, 0.3);
        filter: drop-shadow(0px 4px 4px rgba(0, 0, 0, 0.15));
        border-radius: 4px;
        padding-left: 16px;
        color: var(--main-title-color);
        background-color: transparent;
        font-family: 'Roboto';
        font-size: 16px;
        outline: none;
        transition: border-color  var(--main-title-color) border-color var(--cubic);
        &:focus {
            border-color: var(--main-title-colorr);
        }
    }   
    &__label {
        font-family: 'Roboto';
        font-size: 16px;
        line-height: 1.25;
        color: var(--main-title-color);
        transform: border-color var(--cubic);
    }
}

.submit__btn {
    display: inline-flex;
    align-items: center;
    min-width: 200px;
    height: 50px;
    position: relative;
    padding-left: 29px;
    transform: color var(--cubic);
}

.submit__icon-btn {
    margin-left: 10px;
    margin-right: 0px;
    margin-top: 6px;
    cursor: pointer;
}