.hero {
    padding-top: 118px;
    padding-bottom: 118px;
    margin: 0 auto;

    background-color: var(--bcg-color);
    background-image:linear-gradient(
        rgba(47, 48, 58, 0.4), 
        rgba(47, 48, 58, 0.4)
        ),
        url(../images/Hero-mob.jpg);
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center;

    @media (min-device-pixel-ratio: 2),
        (min-resolution: 192dpi),
        (min-resolution: 2dppx) {
            background-image:linear-gradient(
                rgba(47, 48, 58, 0.4), 
                rgba(47, 48, 58, 0.4)
                ),
                url(../images/Hero-mob-2x.jpg);
        }

    @media screen and (min-width: 768px) { 
        background-image:linear-gradient(
            rgba(47, 48, 58, 0.4), 
            rgba(47, 48, 58, 0.4)
            ),
            url(../images/Hero-tablet.jpg);

        @media (min-device-pixel-ratio: 2),
            (min-resolution: 192dpi),
            (min-resolution: 2dppx) {
                background-image:linear-gradient(
                    rgba(47, 48, 58, 0.4), 
                    rgba(47, 48, 58, 0.4)
                    ),
                    url(../images/Hero-tablet-2x.jpg);
        }
    }

    @media screen and (min-width: 1200px) {
        padding-top: 200px;
        padding-bottom: 200px;
        max-width: 1600px;
        height: 600px;
        background-image:linear-gradient(
            rgba(47, 48, 58, 0.4), 
            rgba(47, 48, 58, 0.4)
            ),
            url(../images/overlay.jpg);

        @media (min-device-pixel-ratio: 2),
            (min-resolution: 192dpi),
            (min-resolution: 2dppx) {
                background-image:linear-gradient(
                    rgba(47, 48, 58, 0.4), 
                    rgba(47, 48, 58, 0.4)
                    ),
                    url(../images/overlay-2x.jpg);
        }
    }

    &__title {
        margin-bottom: 30px;
        font-weight: 900;
        font-size: 26px;
        line-height: 1.62;
        // font-size: 44px;
        // line-height: 1.36;
        text-align: center;
        letter-spacing: 0.06em;
        text-transform: uppercase;
        color: var(--main-title-color);

        @media screen and (min-width: 1200px) {
            font-size: 44px;
            line-height: 1.36;
        }
    }

    &__btn {
        margin: 0 auto;
        display: block;
        min-width: 200px;
        height: 50px;
        filter: drop-shadow(0px 4px 4px rgba(0, 0, 0, 0.25));
    }
}