.portfolio-filtres {
    // display: -webkit-box;
    display: flex;
    margin: 0;

    @media screen and (max-width: 767.99px) {
        flex-wrap: wrap;
        margin-bottom: 25px;
    }

    @media screen and (min-width: 768px) and (max-width: 1199.99px) {
        justify-content: center;
        margin-bottom: 30px;
    }

    @media screen and (min-width: 1200px) {
        justify-content: center;
        margin-bottom: 50px;
    }
}

.portfolio-filtres-btn {
    font-family: 'Roboto';
    @include font (500, 16px, 1.62, 0.03em);
    // font-weight: 500;
    // font-size: 16px;
    // line-height: 1.62;
    // letter-spacing: 0.03em; 
    max-width: 100%;   
    background-color: #F5F4FA;
    color: var(--header-color);
    cursor: pointer;
    // display: inline;
    padding: 6px 22px;
    display: inline-block;
    margin-right: 4px;
    margin-left: 4px;
    margin-top: 0;
    margin-bottom: 15px;

    @media screen and (min-width: 768px) {
        // margin-left: 15px;
        // margin-right: 15px;
        margin-bottom: 0;
    }
}

.portfolio-filtres-btn--active {
    font-family: 'Roboto';
    @include font (500, 16px, 1.62, 0.03em);
    // font-weight: 500;
    // font-size: 16px;
    // line-height: 1.62;
    // letter-spacing: 0.03em; 
    max-width: 100%;   
    background-color:  var(--accent-color);
    color: var(--main-title-color);
    cursor: pointer;
    // display: inline;
    padding: 6px 22px;
    display: inline-block;
    margin-right: 4px;
    margin-left: 4px;
    margin-top: 0;
    margin-bottom: 15px;
}

.portfolio-list {

    @media screen and (min-width: 768px) {
        display: flex;
        flex-wrap: wrap;
        gap: 15px;
        margin: -15px;
        padding-top: 15px;
    }

    @media screen and (min-width: 1200px) {
        gap: 30px;
        padding-top: 0;
        justify-content: center;
    }
}

.portfolio-item {
    margin-bottom: 15px;
    margin-top: 15px;

    @media screen and (min-width: 768px) {
        flex-basis: calc((100% - 60px) /2);
        margin-left: 15px;
        justify-content: center;
    }

    @media screen and (min-width: 1200px) {
        flex-basis: calc((100% - 90px) /3);
        margin-left: 0;
    }
}

.portfolio-item:last-child {
    margin-bottom: 0;

    @media screen and (min-width: 768px) {
        margin-bottom: 15px;
    
    }
}

.portfolio-content {
    display: block;
    transition: box-shadow var(--cubic);



    &:hover, &:focus {
        box-shadow: 0px 4px 4px 0px rgba(0, 0, 0, 0.25);
    }


}

.portfolio-meta {
    position: relative;
    overflow: hidden;
}

.portfolio-img {
    max-width: 100%;
}

.portfolio-actions {
    position: absolute;
    padding: 63px 24px;
    font-family: 'Roboto';
    font-size: 18px;
    line-height: 1.56;
    color: #FFFFFF;
    background: rgba(33, 150, 243, 0.9);
    width: 370px;
    height: 100%;
    transform: translateY(100%);
    transition: var(--cubic);
    bottom: 0;
    overflow: auto;
    .portfolio-content:hover &,
    .portfolio-content:focus & {
        cursor: pointer;    
        transform: translateY(0%);
        transition: var(--cubic);
    }
}

.portfolio-description {
    padding: 20px 24px;
    border: 1px solid rgba(238, 238, 238, 1);
    // margin-bottom: 15px;


}

.portfolio-title {
    @include font (700, 18px, 2, 0.06em);
    // font-weight: 700;
    // font-size: 18px;
    // line-height: 2;
    // letter-spacing: 0.06em;
    color: var(--header-color);
    margin-bottom: 4px;
}

.portfolio-text {
    @include font (null, 16px, 1.88, 0.03em);
    // font-size: 16px;
    // line-height: 1.88;
    // letter-spacing: 0.03em;
    color: var(--text-color);
}