.mob-menu__container {
    position: absolute;
    
    @media screen and (max-width: 767px) {
        padding: 48px 40px;
        position: relative;
        height: 100%;    
        overflow-y: auto;    
        display: flex;
        flex-direction: column;
        justify-content: space-between;
    }
}

.mob-menu {

    @media screen and (max-width: 767px) {
        top: 0;
        left: 0;
        z-index: 1;
        position: fixed;    
        width: 100vw;
        height: 100vh;    
        background-color: #ffffff;
        transform: translateX(0px);
        transition: transform var(--cubic);
    
        &.is-hidden {
            transform: translateX(-350px);
        }
    }

    @media screen and (min-width: 768px) {
        display: none;
    }
}

.menu-open-btn {
    display: block;
    margin-left: auto;
    padding: 0;
    border: none;
    background-color: transparent;
    fill: #212121;
    transition: fill var(--cubic);

    &:hover,
    &:focus {
        fill: var(--accent-color);
    }

    @media screen and (min-width: 768px) {
        display: none;
    }
}

.menu-close-btn {
    display: block;
    position: absolute;
    top: 10px;
    right: 15px;
    margin-left: auto;
    margin-bottom: 8px;
    padding: 0;
    border: none;
    background-color: transparent;
    fill: #212121;
    transition: fill var(--cubic);

    &:hover,
    &:focus {
        fill: var(--accent-color);
    }

    @media screen and (min-width: 768px) {
        display: none;
    }
}

.no-scroll {
    overflow: hidden;
}

