.section {
    padding: 60px 0;

    &__works {
        padding-top: 0;
    }

    &__team {
        background: #F5F4FA;
    }

    @media screen and (min-width: 1200px) {
        padding: 94px 0;
    }
}

.section__title {
    font-size: 28px;
    line-height: 1.18;
    text-align: center;
    letter-spacing: 0.03em;
    color: var(--header-color);
    margin-bottom: 30px;
    font-weight: 700;

    @media screen and (min-width: 1200px) {
        font-size: 36px;
        line-height: 1.17;
        margin-bottom: 50px;
    }
}


